<div class="d-flex col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
    <div class="sidebar">
      <div class="logo-details">
        <!-- <i class='bx bxl-c-plus-plus'></i> -->
        <img class="pie-logo-small" src="assets/pie-small-logo.svg " alt="">
        <img class="pie-logo logo_name" src="assets/pierian-logo.svg" alt="">
      
        <!-- <span class="logo_name">Pierian</span> -->
      </div>
      <ul class="nav-links">
        <li class="active">
          <a >
            <!-- <i class='bx bx-grid-alt' ></i> -->
            <img class="bx" src="assets/dashboard-icon.svg" alt="">
           
            <span class="link_name">Dashboard</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" >Category</a></li>
          </ul>
        </li>
        <li>
          <a >
            <!-- <i class='bx bx-grid-alt' ></i> -->
            <img class="bx" src="assets/dashboard-icon.svg" alt="">
            <span class="link_name">ICR</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" >Category</a></li>
          </ul>
        </li>
        
        <li class="dropmenu">
          <div class="iocn-link">
            <a >
              <!-- <i class='bx bx-plug' ></i> -->
              <img class="bx" src="assets/dashboard-icon.svg" alt="">
              <span class="link_name">My views</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" >My views</a></li>
            <li><a >Exception</a></li>
            <li><a >New Invoice</a></li>
            <li><a >To Renew</a></li>
          </ul>
        </li>
      </ul>
      <div class="copyright-txt">
        <p>Copyright © 2022 Pierian. All rights reserved.</p>
      </div>
    </div>
  
  
  
    <section class="home-section">
      <nav class="navbar navbar-expand-sm navbar-dark">
        <!-- Brand -->
        <div class="d-flex ">
          <span class="ham-menu">
            <div class="line-big"></div>
            <div class="line-small"></div>
            <div class="line-big"></div>
            <div class="line-small"></div>
          </span>
          <span>
            <p class="welcome-user-txt">Welcome back! Shiva </p>
            <p class="nav-date">20 July 2021</p>
          </span>
        </div>
      
        <!-- Links -->
        <ul class="navbar-nav">
        
          <li class="nav-item bell-img">
            <a class="nav-link" >
              <img src="assets/bell-notification.svg" alt="">
            </a>
          </li>
      
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown"  (click)="dropdownSelectedOption()">
              <img src="assets/profile.svg" alt="" class="profile">
            </a>
            <div class="dropdown-menu" id="dropdownMenu">
              <a class="dropdown-item"> <span><img src="assets/setting.svg" alt=""></span> Account</a>
              <a class="dropdown-item"><span><img src="assets/logout.svg" alt=""></span> Logout</a>
            </div>
          </li>
         </ul>
      </nav>
      <div class="outer-div">
        <div class="col-md-12">
            <div class="row pt-3">
                <div class="col-md-7">
                    <div class="col-md-12">
                        <div class="row pt-3">
                            <p>PO Based</p>
                            <div class="col-md-4">
                                <div class="card bg-dark">
                                    <div class="card-content">
                                        <span>To Review</span>
                                        <span>30</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-dark">
                                    <div class="card-content">
                                        <span>To Review</span>
                                        <span>30</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card  bg-dark">
                                    <div class="card-content">
                                        <span>To Review</span>
                                        <span>30</span>
                                    </div>
                                </div>
                            </div>
    
    
    
                        </div>
    
                    </div>
                    <div class="col-md-12">
                        <div class="row pt-3">
                            <p>PO Based</p>
                            <div class="col-md-4">
                                <div class="card  bg-dark">
                                    <div class="card-content">
                                        <span>To Review</span>
                                        <span>30</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-dark">
                                    <div class="card-content">
                                        <span>To Review</span>
                                        <span>30</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card  bg-dark">
                                    <div class="card-content">
                                        <span>To Review</span>
                                        <span>30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <div class="card circle bg-dark">
                        <div class="row d-flex">
                            <div class="skill">
                                <div class="outer">
                                    <div class="inner">
                                        <!-- <span class="text-total-invoice">To Review</span> -->
                                        <span id="number">65</span>
                                    </div>
                                </div>
        
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="190px" height="160px">
                                    <defs>
                                        <linearGradient id="GradientColor">
                                            <stop offset="0%" stop-color="#e91e63" />
                                            <stop offset="100%" stop-color="#673ab7" />
                                        </linearGradient>
                                    </defs>
                                    <circle cx="80" cy="80" r="60" stroke-linecap="round" />
                                </svg>
                            </div>
                            <div class="skill">
                                <div class="outer">
                                    <div class="inner">
                                        <!-- <span class="text-total-invoice">To Review</span> -->
                                        <span id="number">65</span>
                                    </div>
                                </div>
        
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="190px" height="160px">
                                    <defs>
                                        <linearGradient id="GradientColor">
                                            <stop offset="0%" stop-color="#e91e63" />
                                            <stop offset="100%" stop-color="#673ab7" />
                                        </linearGradient>
                                    </defs>
                                    <circle cx="80" cy="80" r="60" stroke-linecap="round" />
                                </svg>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row pt-3 pb-3">
                <div class="col-md-6">
                    <div style="display: block;" >
                        <canvas baseChart 
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                        </canvas>
                      </div>
    
                </div>
                <div class="col-md-6">
                   <div class="d-block">
                    <canvas id="pieChart"></canvas>
                   </div>
                </div>
            </div>
        </div>
       
  
       </div>
       </section>
      </div>
